<h1>
  <%= @grid.join(", ") %>
</h1>
<form action="score">
  <label for="word">Your longest word:</label>
  <input type="text" name="word">
  <input name="grid" value="<%= @grid.join %>" hidden="true">
  <input type="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
